         {% load static %}
          <div >
            <h4>About Me</h4>
              <img style='float:right; border-radius:0em 0em 1em 1em;' width='100' heigh='100' src="{% static '/images/me.jpg' %}">
            <p>Craig Riley <em>IT Leader. Old Unix Guy. Python Dude. Etc</em><br>
				This site is basically an experiment in Django. I opted to use that framework over various others because well...I didn't already know Django and what's the fun in messing with something that you already know right?
				I will attempt to jot down various items and tidbits i've learned along the way almost entirely for my own future reference. If anyone else finds anything useful then that is just a bonus!</p>



          </div>

          <div >

	          <h4>Categories</h4>
			    {% if categories %}
			        <ul>
						<li><a href="{% url 'blog:blog_index' %}">All</a></li>
			        {% for category in categories %}
			        <li><a href="{% url 'blog:view_category' slug=category.slug %}">{{ category.name }}</a></li>
			        {% endfor %}
			        </ul>
			    {% else %}
			        <p>There are no categories.</p>
			    {% endif %}



			    {% if user %}

				    <h4>Tools  </h4>

				    <ul>
				    	<li><a  href="/blog/add">Add Post</a></li>
				    	<li><a  href="/admin/auth/user/add/">Add User</a></li>
				    	<li><a href="/admin/blog/category/add/">Add Category</a></li>

				    </ul>
			   {% else %}
			   		<p>Not Logged In</p>

			    {% endif %}


		</div>
