{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}
{% load markdownify %}
{% load humanize %}
{% block content %}

<diddv class="main">
<main role="main" class="container">
<div class="container">

{% if posts %}

        {% for post in posts %}

    <div class="panel panel-default">



        <div class="panel-heading">
            <p class="meta">By: {{ post.created_by }} - {{ post.created | naturaltime }}</p>

            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                {% if post.image %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://s3.us-east-2.amazonaws.com/hashedvalue-assets/media/{{ post.image }}" height="150" width="150" alt="Post Image">
                    </a>
                </div>
                {% endif %}
                <div class="media-body">
                <h4 >{{ post.title }}</h4>
                <p >{{ post.body  | markdownify | truncatewords:90}}</p>
                <div class="clearfix"></div>
                <div class="btn-group" role="group" id="BegeniButonlari">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>
               </div>
            </div>
        </div>
    </div>
    <hr>

</div>

{% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</main>


        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
               {% include 'aside.html' %}

          </div>
        </aside><!-- /.blog-sidebar -->



      </div><!-- /.row -->
     <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
     <p>&nbsp;</p>
     <p>&nbsp;</p>









{% endblock %}
