{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}

{% load markdownify %}


<main role="main" class="container">
      <div class="row">

        <div class="col-sm-8 blog-main">


    {% if posts %}

        {% for post in posts %}

          <div class="blog-post">

                {% if post.image %}

                   <img class='blog-entry-image'  src="/{{ post.image }}" width="250" height="250">
                {% endif %}
                <a href="{% url 'blog:view_post' slug=post.slug %}"> <h2 class="blog-post-title">{{ post.title }}</h2></a>
                <p class="blog-post-meta">{{ post.created }} by <a href="#">{{ post.created_by }}</a>


              </p>

                <p>{{ post.body  | markdownify | truncatewords:90}}</p>

          </div><!-- /.blog-post -->

          <hr>

        {% endfor %}

    {% else %}
        <p>There are no posts.</p>
    {% endif %}


            <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>





        </div><!-- /.blog-main -->

        {% include 'aside.html' %}
      </div>
</main>

{% endblock %}
