{% extends 'base.html' %}
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}
{% load markdownify %}
{% load humanize %}
{% block content %}

<main role="main" class="container">

    {% include 'aside.html' %}

    {% if post %}


             <div class="col-sm-12">


          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/hashedvalue-assets/media/{{ post.image }}" width="750" height="300">
            <div class="card-body">
              <h1 class="card-title">{{ post.title }}</h1>
              <p class="card-text">{{ post.body  | markdownify  }} </p>
            </div>
            <div class="card-footer text-muted">
             Posted {{ post.created | naturaltime }} by {{ post.created_by }}
            </div>

          </div>
        </div>
        </div>
     </main>


    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}